@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');




@font-face 
{
    font-family: VerdanaPro-Light;
    src: url(fonts/VerdanaPro-Light.ttf);
}

@font-face 
{
    font-family: tahoma;
    src: url(fonts/tahoma.ttf);
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'); */






*
{
	margin: 0px;
	padding: 0px;
}

body
{

	display: flex;
	flex-direction: column;
	background: #1a1a1a;
}

.head_title p
{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 4vw;

}


.head_title
{
	display: flex;
	/*background: black;*/ /*dme*/
	width: 100%;
	justify-content: center;
}

.into_text_root
{
	width: 40%;
	margin-top: 50px;
	align-self: flex-start;
	background: rgba(0, 0, 0, 0.11);
	/* margin-left: 10px; */
}



  

.into_text_root p
{
	color: white;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2vw;
	font-weight: 300;
}

.intro_img
{

/*	background: blue;*/
/*	width: 200px;
	height: 200px;*/
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	align-self: flex-end;
}

.intro_img img
{
	width: 90%;

}


.alignme
{
	width: 100px;
	height: 100px;
	background: red;
}

.page_01
{
	margin-top: 20px;
	display: flex;
	width: 100%;
/*	background: black;*/
	justify-content: space-around;
	/* padding-left: 20px; */
}

.ded
{
	opacity: 0;
}



#light_blue
{
	color: #67d8da;
}

#pink
{
	color: #d966ff; 
}


#green_black
{
	color: #63fa6f;
	background: black;
}

#light_yellow
{
	color: #fbffd2;
}

#gray
{
	color: #a2a2a2;
	font-style: italic;
}





#install
{
	font-size: 3vw;
	font-weight: 400;
}

#update1
{
	font-size: 2vw;
	font-weight: 400;
}

a
{
	color: white;
}

/* a:hover */
/* { */
	/* color: cyan; */
/* } */

.step_imgs
{
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	align-self: flex-end;
	justify-content: flex-start;
}


.step_imgs img
{
	width: 90%;

}


#second_img
{
	margin-top: 30px;
}


/*last update: 24.04.2020*/


/* #text01a */
/* { */
	/* color:Blue; */
	/* font-weight:700; */
/* } */



.version_sep_new
{
	border-left: 4px solid #4fc45c;
}


.version_sep_old
{
	border-left: 4px solid #477ccc;
}


.dl_new:hover
{
	color: #4fc45c;
}





















.dl_old:hover
{
	color: #477ccc;
}







/* new customizer */



















.customize_title p
{
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 4vw;

}


.customize_title
{
	margin-top: 20px;
	display: flex;
	/* background: black; */
	width: 100%;
	justify-content: center;
}















/* new customizer table design */









.text_above 
{
  display: inline-block;
  position: relative;
  width: 100%;
  background: blue;
}

.text_under
{
  height: 50px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  display: block;
  position: relative;
  background: blue;
}


.text_under p, .text_above p
{
 text-align: center;
 color: white;
}

.all
{
  padding: auto;
  margin: auto;
  width: 50%;
  height: 600px;
  background: gray;
}

.button_tg
{
  margin-left: 25%;
  margin-right: 25%;
  position: relative;
  top: 1vh;
  width: 50%;
  height: 20px;
  background: red;
}

.spoiler_stuff p
{
  text-align: center;
}





.stuff_mask
{
  display: block;
  transition: 1s;
  
  padding: 0px;
  overflow: hidden;
  margin-left: 25%;
  margin-right: 25%;
  position: relative;
  width: 50%;
  height: 350px;
  background: transparent;
}

.spoiler_stuff_slide
{
  transform: translateY(-300px);
  transition: 1,1s;
}


.stuff_mask_slide
{
  /*transform-origin: topd;
  transform: scaleY(1);
  */
  height: 0px;
  transition: 1s;
  /*display: none;*/
 }




/* TABLE */

.spoiler_table
{
  color: white;
  display: grid;
  
  grid-template-columns: 40px 10px 100%;
  grid-template-rows: 25px;
  grid-row-gap: 0px;
  grid-column-gap: 0px;
}

.line-number p
{
  margin: auto;
  padding: 10% 25% 0px 0px;
  text-align: right;
  font-size: 0.8em;
  font-family: Courier New;
  
  
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line p
{
  position: relative;
  top: 15%;
  margin: auto;
  padding-left: 3px;
  text-align: left;
  font-family: Courier New;
  white-space: nowrap;
}

.line-number
{
  background: #2e3436;
}

.in_betweener
{
 background-color: #2e3436;
 background-image: url('pics/notepad_side_decoration.png');
}

.line
{
  background: #0c1021;
}


.slide
{
  widht: auto;
}
















.spoiler_stuff
{
  transition: 1s;
  
  display: inline-block;
  padding: 0px;
  margin: 0px;
  top: 0px;
  position: relative;
  width: 50%;
  height: auto;
  /* background: green; */
  z-index: 10;
}








.c_custom
{
	width: 100%;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	align-self: flex-end;
	justify-content: flex-start;
	
	margin-top: 60px;
	/* margin-right: 30px; */
	
	/* padding-right: 20px; */
	
	overflow: hidden;
	
	
}




.c_cols_con
{
	width: 100%;
	display: flex;
	justify-content: space-between;
}


.spoiler_stuff
{
	display: box;
}










.c_cols_box1
{
	width: 40%;
	/* margin-top: 50px; */
	align-self: flex-start;
	
	
	margin-left: 40px;
	display: flex;
	flex-direction: column;
}

.c_cols_box1 p
{
	color: white;
	padding: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2vw;
	font-weight: 300;
	/* color: red; */
}







/*

	"" .qmark

	$ .dolsign
	
	[ .sq_brackets_open

	] .sq_brackets_close
	
	{ .def_brackets_open
	
	} .def_brackets_close
	
	$params .dol_params

	Proxy names .proxy_names
	
	Proxy params .proxy_params
	
	noname cvars .noname_cvars
	
	nums .p_nums
	
	shaders .shaders
	
	btexture .base_texture
	
	comms .comms
	
	Word Proxy .word_proxy
	
	tpath .t_path

*/

.qmark
{
	color: #fbffd2;
}

.dolsign
{
	color: #a4ffad;
}




.sq_brackets_open
{
	color: #fff;
}

.sq_brackets_close
{
	color: #fff;
}




.def_brackets_open
{
	color: #00ff40;
}

.def_brackets_close
{
	color: #00ff40;
}





.dol_params
{
	color: #67d8da;
}

.proxy_names
{
	color: #67d8da;
}

.proxy_params
{
	color: #67d8da;
}

.perc_params_aw
{
	color: #d966ff;
}

.defgray
{
	font-style: italic;
	color: #a2a2a2;
}

.mat_types
{
	color: #7d81ff;
}








.noname_cvars
{
	color: #fbffd2;
}

.p_nums
{
	color: #c8a6ff;
}



.shaders
{
	color: #63fa6f;
	background: black;
}

.base_texture
{
	color: #80a9ff;
	/* background: black; */
}

.comms
{
	color: #f5c48b;
}

.word_proxy
{
	color: #c835f9;
}

.t_path
{
	color: #fbffd2;
}


.white_border_right
{
	border-left: 2px solid white;
}



.c_pickers_mtable
{
	/* width: 200px; */
	display: flex;
	justify-content: space-between;
	
	flex-direction: column;
	
	
}














.c_pickers_mtable p
{
	/* width: 50%; */
	margin: 0px;
	display: box;
}

.mtable_p
{
	width: 50%;
}

.mtable_line
{
	display: flex;
}


#dl_button_pootis
{
	
	margin-top: 20px !important;
	/* margin-left: 30% !important; */
	width: 20vw !important;
	/* height: 20px; */
	all: unset;
	color: #d8ded3;
	background: #4c5844;
	border: 0px;
	/* border-right: 2px solid #282e22; */
	/* border-bottom: 2px solid #282e22; */
	
	/* border-left: 2px solid #889180; */
	/* border-top: 2px solid #889180; */
	padding: 15px 32px;
	
	
	box-shadow: inset -2px -2px 0px 0px rgba(40,46,34,1), inset 2px 2px 0px 0px rgba(136,145,128,1);
	
	/* box-shadow: inset -2px -2px 0px 0px rgba(40,46,34,1); */
	
	font-family: VerdanaPro-Light;
	align-self: center;
	text-align: center;
	
	user-select: none;
	
}



#dl_button_pootis:active
{
	outline: none;
	box-shadow: inset 2px 2px 0px 0px rgba(40,46,34,1), inset -2px -2px 0px 0px rgba(136,145,128,1);
}


#dl_button_pootis a
{
	/* width: auto; */
	/* height: auto; */
	padding: 0px;
	/* color: white; */
	font-family: VerdanaPro-Light;
}



#dl_button_pootis a:active
{
	top: 5px;
	left: 10px;
	color: red;
}



.not_button
{
	background: rgba(0, 0, 0, 0.11);
}





.theme_bg_cont
{
	display: flex;
	text-align: center;
}

.theme_bg_cont button
{
	margin-left: 15px;
}

.theme_bg_cont a
{
	text-align: center;
}

.theme_bg_cont input
{
	outline: none;
	height: auto;
}





#cd_theme_bg_picker
{
	padding-left: 5px;
	/* width: 30%; */
	width: 4em;
	height: auto;
	
	vertical-align: center;
	
	font-size: 1em;
	background: rgba(0, 0, 0, 0.5);
	/* font-family: tahoma;	 */
	color: white;
	
	outline: none;
	border: none;
	

}

.col_text_picker
{
	all: unset;
	outline: none;
	width: 35% !important;
	background: rgba(0, 0, 0, 0.5);
	/* height: 100% !important; */
	/* text-align: center; */
	padding-left: 5px;
}


.cpicker_extra
{
	display: flex;
	width: auto;
	justify-content: space-between;
}

.mt_rside
{
	display: flex;
	width: 50%;
}


.btn_set_def
{
	all: unset;
	margin-right: 2em;
	padding: 0px 10px 0px 10px;
	
	outline: none;
	border: none;
	
	box-shadow: inset -1px -1px 0px 0px rgba(40,46,34,1), inset 1px 1px 0px 0px rgba(136,145,128,1);
	background: #4c5844;
	font-family: tahoma;
	color: #d8ded3;
	
	text-align: center;
	
	font-size: 13px;
	
	user-select: none;
	
}



.btn_set_def:active
{
	outline: none;
	box-shadow: inset 1px 1px 0px 0px rgba(40,46,34,1), inset -1px -1px 0px 0px rgba(136,145,128,1);
	/* padding: 1px 9px 0px 10px; */
	/* margin-left: 15px; */
}



.madeby
{
	margin-top: 220px;
	background: rgba(0, 0, 0, 0.11);
}


.mby:hover
{
	color: #d8ded3;
}


#def_all_nan
{
	/* display: none; */
	pointer-events: none;
	user-select: none;
	opacity: 0;
}

#dl_sets_btn
{
	/* display: none; */
	pointer-events: none;
	user-select: none;
	opacity: 0;
}




#reset_all
{
	width: 46%;
}

#sets_dl
{
	width: 46%;
}


@media (max-width: 1490px) 
{
  .into_text_root 
  {
	  /* background: red; */
    margin-left: 20px;
  }
  
  	#reset_all
	{
		width: 100%;
	}
	
	#sets_dl
	{
		width: 100%;
	}
	
	.save_to_file
	{
		width: 100%;
	}
	
	.dropdown_menu_descr
	{
		width: 69% !important;
	}
	
	#upload_vmat
	{
		width: 100%;
	}
	
	#vmat_diff_only
	{
		width: 100%;
	}
	
	#dl_to_file_btn
	{
		width: 100%;
	}
	
	
}

.safety_margin
{
	margin-top: 40px;
}


.upload_vmat
{
	/* all: unset; */
	/* width: 35% !important; */
	/* visibility: hidden; */
	
}

.save_to_file
{
	width: 46%;
}



.meme
{
	align-self: flex-start;
	align-items: flex-start;
	
	margin-top: 555px;
	
	margin-left: 20px;
}



/* to kinda revert the latest commit:

	1 - comment the very last div which also has meme class
	
	2 - comment load diff only row
	
	3 - comment vmat_reader.js in the very end of the document


*/






/* New fancy bs date hover info */





/*

.dl_new[rdate]:hover::after 
{
  content: attr(rdate);
  position: absolute;
  left: -36%;
  top: -50px;
  min-width: 200px;
  border: 0px #aaaaaa solid;
  border-radius: 999px;
  background-color: white;
  padding: 12px;
  color: #000000;
  font-size: 14px;
  z-index: 1;
}

.dl_new:hover::before
{
  content: "";
  position: absolute;
  left: 36%;
  top: -25px;
  width: 1px;
  height: 1px;
  background-color: white;
  transform: rotateZ(45deg);
  z-index: 1;
  padding: 12px;
}

*/

.dl_new[rdate] 
{
  position: relative;
  /* text-decoration: underline; */
  /* color: #00F; */
  /* cursor: help; */
}



.italic_text
{
	font-style: italic;
}







/*

==============================
Wasted like 3 days on this fucking shit. Who needs it?? Why am I doing this ???
Why do I disrespect myself ???

This is some sort of fucking addiction for me. If I want to do it, then I can't stop until I finish...
And it doesnt fucking matter what the fuck it is. It could be fucking rocket science, but I'd still want to do it, even though
I have big problems with math and I'm a terrible coder...

Fuck

Don't fo this to yourself. Don't waste your time.


==============================
*/


















/* fucking bs. Just make a simple js switch */

.c_row
{
  display: flex;
  align-items: center;
  height: 20px;
  margin-top: 0px;
  margin-left: 15px;
  height: 100%;
  width: 100%;
 
}

.c_row:hover .cbox_label
{
  color: #bdc2b8;
 
}


.checkbox_body_square
{
  display: flex;
  width: 15px;
  height: 15px;
    background-color: #3c4434;
    box-shadow: inset 1px 1px 0px 0px rgba(40,46,34,1), inset -1px -1px 0px 0px rgba(136,145,128,1);
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  
}

.checkbox_inner_sqare
{
  width: 2px;
  height: 6px;
  background: none;
  opacity: 1;
  transform: rotate(45deg);
  border: solid #c5b64f;
  border-width: 0 2px 2px 0;
  margin-bottom: 2px;
  
}

.checkbox_inner_unset
{
  opacity: 0 !important;
 
}




.blocker
{
  background: black;
  z-index: 999;
}


.c_row_unclickable
{
  display: flex;
  align-items: center;
  height: 40px;
  margin-top: 10px;
  
}


.pootis
{
  user-select: none;
}



/* circular one*/


.checkbox_circular
{
  display: flex;
  width: 15px;
  height: 15px;
    background-color: #3c4434;
    box-shadow: inset 1px 1px 0px 0px rgba(40,46,34,1), inset -1px -1px 0px 0px rgba(136,145,128,1);
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  
}


.checkbox_inner_round
{
  width: 7px;
  height: 7px;
  background: #c5b64f;
  opacity: 1;
  margin-bottom: 0px;
  border-radius: 999px;
  
}

.set_single_cbox_row_part
{
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: 0px;
 
}

.absolute_dropdown
{
  background: red;
  width: 20px;
  height: 20px;
  position: absolute;
  
  top: 50px;
}

.pootis2
{
  display: none;
  margin-top: 20px;
}


.dropdown_menu
{
  position: absolute;
  background: #4b5742;
  padding-left: 10px;
  padding-right: 10px;
  
  box-shadow: inset -1px -1px 0px 0px rgba(40,46,34,1), inset 1px 1px 0px 0px rgba(136,145,128,1);
  margin-top: 2px;
}


.dropdown_menu_descr
{
  display: flex;
  background: #3e4637;
  padding: 5px 10px 5px 10px;
  margin: 0px;
  user-select: none;
  box-shadow: inset 1px 1px 0px 0px rgba(40,46,34,1), inset -1px -1px 0px 0px rgba(136,145,128,1);
  align-items: center;
  width: 50%;
  /* width: auto; */
}

.hidden_display_none
{
  display: none !important;
}


.checkbox_part
{
  display: flex;
  align-items: center;
  
  height: 100%;
  width: auto;
}




.mrk_checkbox_group
{
	font-family: tahoma;
	z-index: 120;
}






.dropdown_menu_descr
{
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;
  color: white;
}



.cbox_label
{
  padding: 0px;
  color: #d9dfd4;
  padding-left: 10px;
  pointer-events: none;
  user-select: none;
  margin: 0px;
  
  font-size: initial !important;
  
  font-weight: 300;
  
  
}



.dropdown_triangle
{
  height: 10px;
  width: 10px;
  /* background: red; */
  
  background-image: url('pics/triangle_green.svg');
  
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 5px;
}



.load_selector_menu_container
{
	position: static;
	margin-left: 10px;
	z-index: 100 !important;
}



.dropdown_menu_resetter
{
	position: fixed;
	width: 100%;
	height: 100%;
	background: none;
	/* z-index: 50; */
}



.dropdown_menu_resetter_hidden
{
	display: none !important;
}




























/* 

===================================================================

	New Super Fancy preset system

===================================================================

*/




.mrk_ilist_active_item_display
{
  margin-bottom: 0px;
  display: flex;
  
}

.mrk_ilist_dropdown
{
  position: absolute;
  background: #4b5742;
  padding: 1px;
  
  box-shadow: inset -1px -1px 0px 0px rgba(40,46,34,1), inset 1px 1px 0px 0px rgba(136,145,128,1);
  margin-top: 1px;
  
  z-index: 125;
}

.mrk_ilist_entry
{
  /* 
    Those padding tops and bottoms are optional.
    To bring back initial variant - remove tops and bottoms
    and move height parameter from .mrk_ilist_item_p to here
  */
  
  padding-top: 2px;
  padding-bottom: 2px;
  
  
  padding-left: 9px;
  padding-right: 40px;
  display: flex;
  align-items: center;
}

.mrk_ilist_entry:hover
{
  background: #958831;
}



.mrk_ilist_item_p
{
	padding: 0px !important;
	font-size: inherit !important;
  height: 17px;
  margin: 0px;
  pointer-events: none;
  user-select: none;
}

.mrk_ilist_active_item_display_p
{
  background: #3e4637;
  padding: 3px 10px 3px 10px !important;
  pointer-events: none;
  user-select: none;
  
  box-shadow: inset 1px 1px 0px 0px rgba(40,46,34,1), inset -1px -1px 0px 0px rgba(136,145,128,1);
  
  width: 100%;
  
  font-size: 19px !important;
}

.ilist_hidden
{
  display: none !important;
}


.other_stuff
{
  pointer-events: none;
  user-select: none;
}


.mtable_line_presets
{
	display: flex;
	padding-left: 0px;
	justify-content: space-around;
}

.special_row
{
	width: 40%;
}

.mtable_line_presets button
{
	height: 27px;
}

.mtable_line_presets_buttons
{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 10px;
}


.ilist_checkbox_override
{
	margin-top: 0px;
	background: none;
	box-shadow: none;
	position: relative;
	padding-left: 0px;
	padding-right: 0px;
}


.ilist_checkbox_override .c_row
{
	margin-left: 0px;
	margin-right: 15px;
}






/* fix width of the dropdown */

#dropdown_vmat_file_preset_01a
{
	width: 100%;
	margin-left: 0px;
}

#dropdown_vmat_file_preset_02a
{
	width: 100%;
	margin-left: 0px;
}



@media (max-width: 1803px)
{
	#width_fix .btn_set_def
	{
		/* display: border-box; */
		margin-right: 0px !important;
		padding: 0px 0.3vw 0px 0.3vw;
	}
	
	#width_fix .special_row
	{
		display: flex;
		justify-content: space-between;
		/* align-items: flex-end; */
	}
}



/* @media (max-width: 1370px) */
/* { */
	/* #width_fix .btn_set_def */
	/* { */
		/* padding: 0px 0px 0px 0px; */
	/* } */
/* } */











